<div ng-controller="viewNotesCtrl" class="editor">
    <div>

        <h3>Edit Note</h3>
        <div>
        <div ng-click="data.clicked(note.data)" ng-repeat="note in data">
            <tr>
                <td class='name'>{{note.name}}</td>
            </tr>
        </div>
        </div>
        <!--<pre><code>{{data[0].name}}</code></pre>-->
        <!--<pre><code>{{data[0].data}}</code></pre>-->
        <ng-quill-editor ng-model="title" on-editor-created="editorCreated(editor)" editor.setHTML(editorData) toolbar="true" link-tooltip="true"
                         toolbar-entries="font size bold list bullet italic underline strike align color background link image"
                         editor-required="true"
                         on-content-changed="contentChanged(editor, html, text)">
        </ng-quill-editor>

    </div>
</div>
